//IMPORTE COLORS
$orange:  #EB9150;
$green:   #88C4B4;

//IMPORT DARK & LIGHT COLORS
$white:    #EEEEEE;
$black:    #080404;

//PRIMARY & SECONDARY COLORS
$primary:       $orange;
$secondary:     $green;
$light:         $white;
$dark:          $black;

//IMPORT FONT-SIZE
$font-size-root:              null;
$font-size-base:              1rem; // Assumes the browser default, typically `16px`
$font-size-sm:                $font-size-base * .875;
$font-size-lg:                $font-size-base * 2.25;


$navbar-brand-font-size:            $font-size-lg;

//IMPORT FONT-FAMILY
$font-family-base: 'Lato', sans-serif;;

//IMPORT BOOTSTRAP 
@import"../node_modules/bootstrap/scss/bootstrap.scss";



