@use'../custom';

//social-media
@mixin link {
    text-decoration: none;
}

@mixin hovered {
    &:hover {
        color: #263963;
    }
}

@mixin visited {
    &:visited {
        color: #3B5998;
    }
}

//presentation-assoc
@mixin h2 {
    font-family: 'Pattaya', sans-serif;
}