@use'../custom';

//*
@mixin font-base {
    font-size: 1rem;
}

//social-media
@mixin link {
    text-decoration: none;
}

@mixin hovered {
    &:hover {
        color: #263963;
    }
}

@mixin visited {
    &:visited {
        color: #3B5998;
    }
}

//presentation-assoc
@mixin h2 {
    font-family: 'Pattaya', sans-serif;
}

@mixin font-base {
    font-family: 'Lato', sans-serif;
}

@mixin little-font-size {
    font-size: 0.875rem;//14px
}

//activites-afav
@mixin link-bulletin {
    &:hover{ 
        color: #EB9150;
    }
}

//etude-archeo
@mixin sources {
    font-size: 0.75rem;
    margin-top: 0.25rem;
    font-style: italic;
}